// 
// regression upload
// 
#pool 
	color  #888 
	padding 50px 15px
	.panel-group
		.panel 
			border-radius 0
	.panel-default 
		border 0
		.panel-heading
			background white
			border 0
	.panel 
		margin-top 0
		margin-bottom 0
		border 0
		border-radius 0
		box-shadow none
	.panel-heading
		padding 0 15px
		border-bottom 0
		border-top-left-radius 0
		border-top-right-radius 0
		.glyphicon
			font-weight 100 !important
		.release 
			padding 0 10px
		
		.folder-open
			font-style italic
			opacity 0.6
	.panel-body
		padding 5px
		border-top 0 !important
		ul 
			margin 0
			li 
				list-style none
				line-height 22px
				.glyphicon
					font-weight 100
					font-size 0.9em
				.glyphicon-search
					font-size 0.8em
					font-weight 100
					opacity 0.6
					cursor pointer
					&:hover
						opacity 1
	.panel-title
		color #888
		a 
			line-height 25px


#regression
	color  #888 
	padding 50px 15px
	.panel-group
		.panel 
			border-radius 0
	.panel-default 
		border 0
		.panel-heading
			background white
			border 0
	.panel 
		margin-top 0
		margin-bottom 0
		border 0
		border-radius 0
		box-shadow none
	.panel-heading
		padding 0 15px
		border-bottom 0
		border-top-left-radius 0
		border-top-right-radius 0
		.glyphicon
			font-weight 300 !important
		.sig-name
			padding 0 10px
		.release
			padding 0 30px
		.platform
			padding 0 20px
		.folder-open
			font-style italic
			opacity 0.6
	.panel-body
		padding 5px
		border-top 0 !important
		ul 
			margin 0
			li 
				list-style none
				line-height 22px
				.glyphicon
					font-weight 100
					font-size 0.9em
				.filename
					padding 0 30px
				.glyphicon-search
					font-size 0.8em
					font-weight 100
					opacity 0.6
					cursor pointer
					&:hover
						opacity 1
	.panel-title
		color #888
		a 
			line-height 25px
	.glyphicon-remove
		color pink
	.glyphicon-ok
		color green
	.detail
		cursor pointer
		opacity 0.6
		&:hover
			opacity 1
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
	
#detailAside
	max-width 65%
	.info-panel
		background #f5f5f5
		padding 10px
		pre.regex
			font-family "courier new"
			color #555
			font-size 0.8em
			border 0
		pre.context
			font-family "courier new"
			color #888
			font-size 0.6em
			border 0
		.nav-tabs
			border 0 
			li 
				a 
					border-radius 0
					border 0
					cursor pointer
			li.active
				a
					border 0
