include includes/mixins

extends layout

block content
	.navbar.top-nav
		.container
			.navbar-brand Health Check
			.navbar-right(ng-if='!user.authenticated')
				button.btn.btn-primary
					a(href='#/login') Login
			.navbar-right(ng-if='user.authenticated')
				span.username {{user.name.givenName}}
				button#btn-logout.btn.btn-primary.eject-button(ua-logout)
					i.icon-lock.icon-white.ss-eject
	.navbar.sub-nav.hc
		.container
			ul.nav.nav-tabs.sub-nav-tabs
				li(ng-class="{active:isActive('')}")
					a() 7x50
				li(ng-class="{active:isActive('')}")
					a() 7705
				li(ng-if='user.authorized', ng-class="{active:isActive('')}")
					a() 7210


	div.ng-view-class(ng-controller='uploadCtrl', ng-init='setUser(user.login)')
		div(ng-view)
		

block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/vendor/underscore/underscore.js')
	script(src='/vendor/angular/angular/angular.min.js')
	script(src='/vendor/angular/angular-animate/angular-animate.min.js')	
	script(src='/vendor/angular/angular-resource/angular-resource.min.js')
	script(src='/vendor/angular/angular-route/angular-route.min.js')
	script(src='/vendor/angular/angular-socket-io/socket.min.js')
	script(src='/vendor/angular/ngQuickDate/dist/ng-quick-date.min.js')
	script(src='/javascripts/app.js')
	script(src='/javascripts/controllers.js')
	script(src='/javascripts/services.js')
	script(src='/javascripts/d3.js')
	script(src='/javascripts/directives.js')
	script(src='/javascripts/filters.js')
	script(src='/vendor/angular/userapp/userapp.client.js')
	script(src='/vendor/angular/userapp-angular/angularjs.userapp.js')
	script(src='/vendor/angular/ngprogress/build/ngProgress.min.js')
	script(src='/vendor/angular/angular-flash/dist/angular-flash.min.js')
	script(src='/vendor/angular/angular-strap/dist/angular-strap.min.js')
	script(src='/vendor/angular/angular-strap/dist/angular-strap.tpl.min.js')
	script(src='/vendor/angular/spin.js/spin.js')
	script(src='/vendor/angular/angular-spinner/angular-spinner.min.js')
	script(src='/vendor/angular/angular-file-upload/angular-file-upload.min.js')
	script(src='/vendor/angular/angular-elastic/elastic.js')
	script(src='/vendor/angular/angular-timer/timer.js')
	script(src='/vendor/angular/ng-table/ng-table.min.js')	

